<div class="bg-back">
  <div class="container">
    <footer class="">
      <ul class="nav justify-content-center border-bottom pb-3">
        <li class="nav-item"><a [routerLink]="['/']" class="nav-link px-2">Home</a></li>
        <li class="nav-item"><a [routerLink]="['/admin']" class="nav-link px-2">Dashboard</a></li>
        <li class="nav-item"><a [routerLink]="['/login']" class="nav-link px-2">Login</a></li>
        <li class="nav-item"><a [routerLink]="['/signup']" class="nav-link px-2">Signup</a></li>
      </ul>
      <p class="text-center text-muted mb-0 pt-2 pb-2">&copy; 2022 KELP</p>
    </footer>
  </div>
</div>